
body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: column;
    --padding-frame-elements: 80px;
}

menu {
    /* background-color: yellowgreen; */
    background-color: var(--color-widget);
    box-shadow: 0px 4px 26px 0px #00000017;
    z-index: 10;
    position: relative;
}

main {
    background-color: yellow;
    flex-grow: 1;
    padding: 0 var(--padding-frame-elements);
    background-color: var(--color-widget);

}

footer {
    background-color: greenyellow;
    padding: 40px var(--padding-frame-elements);
}


@media (width <= 760px) {
    body {
        --padding-frame-elements: 20px;
    }
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-text-placeholder);
    border-radius: 2px;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}